<html>
<head>
    <title>Бухгалтер</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #000000;
            text-align: left;
            position: sticky;
            top: 0;
            font-size: 0.9em;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            vertical-align: top;
            background-color: #f3f3f3;
        }
        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
        .styled-table td.colReport {
            padding: 2px 15px;
            height: 5px;
        }
        .styled-table div.colReport {
            height:200px;
            max-width: 1200px;
            overflow:auto;
        }
        .styled-table button.colReport {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<table cellpadding="2" cellspacing="1" class="styled-table">
    <tbody>
    <tr>
        <td>Время</td>
        <td style="text-align: right;"><form action="/account/exit" method="post"><input name="exitButton" type="submit" value="Выход" /></form></td>
    </tr>
    <tr>
        <td>
            <p><strong>Создать отчет</strong></p>
            <div>
                <form action="/account/create_report_by_type" method="post">
                    <p>
                    <p>Выберите тип отчета</p>
                    <select type="text" name="type">
                        <option value="income">Доход</option>
                        <option value="outcome">Расход</option>
                    </select>
                    </p>

                    <p>
                        <input type="submit" value="ОК">
                    </p>
                </form>
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr bgcolor="#ffe4e1" style="border: black">
        <td>
            {{#report}}
                <div>
                    <span>{{report_title}}</span>
                    <span>{{report_text}}</span>
                </div>
                <div>
                    <p>Total: </p>
                    <span>{{report_sum}}</span>
                </div>
            {{/report}}
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
<table class="styled-table">
    <tr>
        <td colspan="1" rowspan="2">
            <p><strong>Новая запись о финансах</strong></p>

            <form action="/account/create_finance" method="post">
                <p>
                <p>Выберите тип записи</p>
                <select type="text" name="type">
                    <option value="income">Доход</option>
                    <option value="outcome">Расход</option>
                </select>
                </p>
                <input type="date" name="date" placeholder="Введите дату">
                <input type="number" name="amount" placeholder="Введите величину">
                </p>

                <p>
                    <input type="submit" value="ОК">
                    <input type="reset" value="Отмена">
                </p>
            </form>
        </td>
    </tr>
</table>
<table border="1" class="styled-table">
    <tr>
        <td colspan="2">
            <p><strong>Текущие отчеты</strong></p>
            <div class="colReport">
                <table>
                    <thead>
                        <tr>
                            <th>ИД</th>
                            <th>Наименование</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#reports}}
                            <tr>
                                <td class="colReport">
                                    <b>{{id}}</b>
                                </td>
                                <td class="colReport">
                                    <span>{{title}}</span>
                                </td>
                                <td class="colReport">
                                    <i>{{text}}</i>
                                </td>
                                <td class="colReport">
                                    <form action="/account/delete" method="post">
                                        <input type="hidden" name="deleteReport_id" value={{id}}>
                                        <button name="task_deleteButton" type="submit">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        {{/reports}}
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>

</body>
</html>