{{>layout/header}}


<table class="styled-table">
   <tr>
        <form action="/main/accountant" method="post">
            <button name="task_accButton" type="submit">Бухгалтер</button>
        </form>
    </tr>
    <tr>
        <form action="/main/consultant" method="post">
            <button name="task_conButton" type="submit">Консультант</button>
        </form>
    </tr>
    <tr>
        <form action="/main/manager" method="post">
            <button name="task_managButton" type="submit">Менеджер</button>
        </form>
    </tr>
    <tr>
        <form action="/main/workman" method="post">
            <button name="task_workButton" type="submit">Сотрудник</button>
        </form>
    </tr>
    <tr>
        <form action="/main/security" method="post">
            <button name="task_secButton" type="submit">Охранник</button>
        </form>
    </tr>

    {{#isAdmin}}
        <tr>
            <form action="/admin">
                <button name="task_adminButton" type="submit">Пользователи</button>
            </form>
        </tr>
    {{/isAdmin}}

    {{^isLoggedIn}}
        <tr>
            <form action="/user/login">
                <button name="task_loginButton" type="submit">Войти</button>
            </form>
        </tr>
    {{/isLoggedIn}}

    {{#isLoggedIn}}
        <tr>
            <form action="/user/logout">
                <button name="task_logoutButton" type="submit">Выйти</button>
            </form>
        </tr>
    {{/isLoggedIn}}
</table>

{{>layout/footor}}