<!doctype html>
<html>
<head>
    <title>Работник</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #000000;
            text-align: left;
            position: sticky;
            top: 0;
            font-size: 0.9em;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            vertical-align: top;
            background-color: #f3f3f3;
        }
        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
        .styled-table td.colTask {
            padding: 2px 15px;
            height: 5px;
        }
        .styled-table div.colTask {
            height:200px;
            max-width: 1200px;
            overflow:auto;
        }
        .styled-table button.colTask {
            white-space: nowrap;
        }
    </style>
</head>

<body>
<table border="1" cellpadding="1" cellspacing="1" class="styled-table">
    <tbody>
    <tr>
        <td>Время</td>
        <td style="text-align: right;"><form action="/workman/exit" method="post"><input name="exitButton" type="submit" value="Выход" /></form></td>
    </tr>
    <tr>
        <td>
            <p><strong>Текущие задачи</strong></p>
            <div class="colTask">
                <table>
                    <thead>
                        <tr>
                            <th>ИД</th>
                            <th>Наименование</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#tasks}}
                            <tr>
                                <td class="colTask">
                                    <b>{{id}}</b>
                                </td>
                                <td class="colTask">
                                    <span>{{name}}</span>
                                </td>
                                <td class="colTask">
                                    <i>{{status}}</i>
                                </td>
                                <td class="colTask">
                                    <form action="/workman/choose" method="post">
                                        <input type="hidden" name="chooseTask_id" value={{id}}>
                                        <button class="colTask" name="task_changeButton" type="submit">Просмотр и редактирование</button>
                                    </form>
                                </td>
                            </tr>
                        {{/tasks}}
                    </tbody>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <p><strong>Редактировать задачу</strong></p>

            <form action="/workman/edit" method="post">
                <p>
                    <input type="hidden" name="task_id" value={{task_id}}>
                    <input readonly type="text" name="task_name" placeholder="" value={{task_name}}>
                    <input readonly type="text" name="task_deadline" placeholder="" value={{task_deadline}}>
                </p>

                <p>
                    <input type="radio" id="taskStatus_ready" name="task_status" value="Готово"><label for="taskStatus_ready">Готово</label>
                    <input type="radio" id="taskStatus_wip" name="task_status" value="Выполняется" checked><label for="taskStatus_wip">Выполняется</label>
                    <input type="radio" id="taskStatus_problems" name="task_status" value="Возникли проблемы"><label for="taskStatus_problems">Возникли проблемы</label>
                </p>

                <p><textarea cols="40" name="task_description" rows="10" placeholder="" readonly>{{task_description}}</textarea></p>

                <p><input readonly type="text" name="task_workman" placeholder="" value={{task_workman}}></p>

                <p>
                    <input type="submit" value="ОК">
                </p>
            </form>
            <form  action="/workman/cancel" method="post">
                <p>
                    <input type="submit" value="Отмена">
                </p>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>
</body>
</html>