{{>layout/header}}

<table border="1" cellpadding="1" cellspacing="1" class="styled-table">
    <tbody>
    <tr>
        <td>Сотрудник</td>
        <td class="rightСol"><form action="/workman/exit" method="post"><input name="exitButton" type="submit" value="Выход" /></form></td>
    </tr>
    <tr>
        <td colspan="2">
            <p><strong>Текущие задачи</strong></p>
            <div class="colTask">
                <table>
                    <thead>
                        <tr>
                            <th>ИД</th>
                            <th>Наименование</th>
                            <th>Статус</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#tasks}}
                            <tr>
                                <td class="colTask">
                                    <b>{{id}}</b>
                                </td>
                                <td class="colTask">
                                    <span>{{name}}</span>
                                </td>
                                <td class="colTask">
                                    <i>{{status}}</i>
                                </td>
                                <td class="colTask">
                                    <form action="/workman/choose" method="post">
                                        <input type="hidden" name="chooseTask_id" value="{{id}}">
                                        <button class="colTask" name="task_changeButton" type="submit">Просмотр и редактирование</button>
                                    </form>
                                </td>
                            </tr>
                        {{/tasks}}
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p><strong>Редактировать задачу</strong></p>

            <form action="/workman/edit" method="post">
                <p>
                    <input type="hidden" name="task_id" value="{{task_id}}">
                    <input readonly type="text" name="task_name" placeholder="" value="{{task_name}}">
                    <input readonly type="text" name="task_deadline" placeholder="" value="{{task_deadline}}">
                </p>

                <p>
                    <input type="radio" id="taskStatus_ready" name="task_status" value="Готово"><label for="taskStatus_ready">Готово</label>
                    <input type="radio" id="taskStatus_wip" name="task_status" value="Выполняется" checked><label for="taskStatus_wip">Выполняется</label>
                    <input type="radio" id="taskStatus_problems" name="task_status" value="Возникли проблемы"><label for="taskStatus_problems">Возникли проблемы</label>
                </p>

                <p><textarea cols="40" name="task_description" rows="10" placeholder="" readonly>{{task_description}}</textarea></p>

                <p><input readonly type="text" name="task_workman" placeholder="" value="{{task_workman}}"></p>

                <p>
                    <input type="submit" value="ОК">
                </p>
            </form>
            <form  action="/workman/cancel" method="post">
                <p>
                    <input type="submit" value="Отмена">
                </p>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

{{>layout/footor}}